<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite" verbose="2">

    <test name="Reqres API Tests">
        <classes>
            <class name="tests.GetUserTest"/>
            <class name="tests.PostUserTest"/>
            <class name="tests.DeleteUserTest"/>
        </classes>
    </test>

</suite>